<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <!-- 🧠 Inclusión del head parcial: CSS, fuentes, etc. -->
    <%- include('partials/head') %>

</head>

<body>
    <!-- 🚀 Menú de navegación -->
    <%- include('partials/navigation') %>

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A omnis atque distinctio dicta sed dolorum facilis, deleniti esse placeat eius provident, nostrum voluptas, vero corporis necessitatibus iusto ipsa quae. Iusto magnam quae optio, illo ducimus placeat quo, ipsam mollitia ipsa quia inventore provident laboriosam aliquid assumenda officiis tenetur pariatur ullam, ea necessitatibus perferendis? Quos eligendi architecto perspiciatis vitae facere. Distinctio sunt veniam maxime tempora totam velit rerum deleniti corrupti error iste dolorem aspernatur sint dolore inventore sapiente eius ipsam dolorum explicabo, a, porro laudantium, cupiditate in. Natus aspernatur expedita ipsum incidunt recusandae atque illum! Quo laborum numquam et autem quae ut dicta quisquam deleniti minima tempora. Rerum ex facilis eaque sunt, dignissimos alias soluta suscipit. Consectetur officia nam, molestias praesentium quia sint libero aperiam nemo corrupti accusantium esse quam quidem, non illo! Eaque molestiae impedit eligendi, delectus exercitationem accusamus unde nostrum ab consequatur sunt soluta? Officia necessitatibus officiis unde a non, dicta iste voluptates, rerum illum doloribus natus quibusdam saepe? Molestias, quae alias? Illum animi expedita dolor praesentium. Aliquid sit itaque optio accusamus ex laudantium maiores atque odio voluptate ratione non ad deserunt, vero saepe, vel, ab ipsa aperiam rerum? Ullam, quos alias totam laborum, recusandae repudiandae laboriosam deleniti sunt corporis obcaecati inventore. In quibusdam ipsa nemo? Expedita harum ea aut accusantium aspernatur fugit cupiditate dolore hic, minus ad unde incidunt voluptatum nihil iusto? Nostrum labore delectus perspiciatis quibusdam eveniet, eligendi maxime ipsa repellendus quidem perferendis facilis similique culpa repudiandae facere ipsam voluptatibus vel deleniti officia! Labore possimus, repellendus, dolorem animi odio ducimus officia tenetur excepturi tempora blanditiis totam voluptas eos doloribus vitae quia explicabo, ratione mollitia itaque error porro. Delectus explicabo laborum numquam eveniet nemo laudantium aliquid molestias, sint doloribus provident officia praesentium porro quisquam, quibusdam voluptatem ipsam omnis vero nesciunt alias minima at, debitis aliquam quam in? Animi!</p>
        </section>
    </main>
    <!-- 🦶 Pie de página -->
    <%- include('partials/footer') %>

</body>

</html>
